.git
.github
.agents
.bundle
.env
.env.*
config/master.key
config/credentials/*.key
db/*.sqlite3
log/*
storage/*
tmp/*
node_modules
vendor/bundle
app/assets/builds/*
public/assets
public/packs
public/packs-test
coverage
